@import "../fonts/Gotham/fonts.css";
@import "../fonts/Lato/fonts.css";
@import "../fonts/LatoBold/fonts.css";


@import "../images/icons/style.css";


@import './common-style/style.css';



.header {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 99;
		&__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 125px;
		}

		&__list {
      display: flex;
		}

		&__item {
      font-family: 'Lato';
      padding: 12px 20px;
      transition: all 0.3s ease 0s;
      &:hover{
        border-radius: 5px;
        background: rgb(255, 187, 66);
        color: white;
        cursor: pointer;
      }
		}
}

.boostup {
  background-color: #709dca;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-top: 200px;
    font-size: 35px;
    font-family: 'Gotham';
    color: #ffffff;
    text-transform: uppercase;
  }

  &__subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 33px 0 65px 0;
  }

  &__input-shell{
    position: relative;
    i {
      left: 20px;
      bottom: 18px;
      color: #6e6e6e;
      width: 13px;
      height: 15px;
      position: absolute;
    }
  }

  &__input {
    width: 281px;
    border-radius: 3px;
    padding: 18px 0;
    padding-left: 40px;
    margin: 0 10px;

  }

  &__btn {
    width: 211px;
    text-transform: uppercase;
    padding: 18px 0;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    background-color: #ffbb42;
    transition: all 0.3s ease 0s;
    &:hover {
      color: black;
    }
  }

  &__place-slider {
    height: 280px;
  }

  &__slider {
    max-width: 647px;
    position: relative;
  }
  .slick-slider {
    .slick-list {
      overflow: hidden;
    }
    .slick-track{
      display: flex;
    }
    .slick-dots {
      position: absolute;
      display: flex;
      bottom: -60px;
      left: 275px;
      li button{
        font-size: 0;
      }
      li.slick-active {
        width: 12px;
        height: 11px;
        border: solid 2px #1ca8dd;
        border-radius: 50%;
      }
      li {
        margin: 0 10px;
        width: 12px;
        height: 11px;
        border: solid 2px #dedfe0;
        border-radius: 50%;
      }
    }
  }

  &__card {
    img {
      width: 647px;
    }
  }
}

.services {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 125px;
  }

  &__tilte {
    margin-top: 201px;
    font-family: 'Gotham';
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }

  &__subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 1.38;
    color: #394b50;
    padding-bottom: 93px;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
    div.icon {
      width: 58px;
      -webkit-text-stroke: 2px #709dca;
      font-size: 50px;
      text-align: left;
      color: #9aca40;
      &:hover{
        -webkit-text-stroke: 2px #f6772c;
        color: #9aca40;
      }

    }
  }

  &__card {
    flex: 0 0 50%;
    display: flex;
  }

  &__card-describe {
    max-width: 467px;
    padding: 0 54px 80px 54px;
  }

  &__card-title {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    line-height: 1.38;
    text-align: left;
    color: #394b50;
  }

  &__card-text {
    font-size: 13px;
    text-align: left;
    color: #7b7b7b;
  }
}

.about {

  &__container {
    display: flex;
    justify-content: start;
    @media screen and (min-width:1700px){
      max-width: 1700px;
      margin: 0 auto;
      padding: 0 20px;
    }
  }

  &__right {
    width: 100%;
    background-color: #ffc155;
    padding:  80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-family: 'Gotham';
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.75px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 28px;
  }

  &__text {
    width: 505px;
    font-size: 13px;
    line-height: 1.85;
    text-align: left;
    color: #ffffff;
  }

  &__btn {
    max-width: 145px;
    font-family:'Lato';
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding: 18px 0px;
    margin-top: 33px;
    border-radius: 2px;
    border: solid 1px #e7ad48;
    background-color: #ffc155;
    &:hover {
      background: #e7ad48;
    }
  }
}







// Support Classes

.menu-burger  {
  display: none;
}
.shadow {
  box-shadow: 0px 0px 3px #888;
}
.d-none {
  display: none;
}



// Menu Burger

@media screen and (max-width:768px){
  .menu-burger {
    display: block;
    z-index: 5;
    right: 0px;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu-burger::before,
  .menu-burger::after,
  .menu-burger span {
    left:0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu-burger::before,
  .menu-burger::after {
    content: "";
  }
  .menu-burger::before {
    top: 0;
  }
  .menu-burger::after {
    bottom: 0;
  }
  .menu-burger span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .menu-burger._active {
    span {
      transform: scale(0) translate(0, -50%);
    }
  }
  .menu-burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu-burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }



  .header__list{
    position: fixed;
    overflow: auto;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color:rgba(0, 0, 0, 0.9);
    padding: 170px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    display: flex;
    flex-direction: column;
    .header__link {
      padding: 20px  0px;
      font-size: 30px;
    }
  }
  .header__list._active {
    left: 0px;
    .header__logo {
      position: fixed;
      left: 30px;
    }
    .fixed-burger {
      position: fixed;
    }
  }
  .header__list._active::before{
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;
    background: gray;
    z-index: 9;
  }
 }








